<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="MTI-30">
  <xacro:macro name="MTI-30" params="parent name *origin">

    <link name="${name}_link">
      <visual>
        <geometry>
          <mesh filename="package://star_jackal_mapper_description/meshes/MTI-30.stl"/>
        </geometry>
        <origin xyz="0 0 0" />
        <material name="orange" />
      </visual>
    </link>

    <joint name="${name}_joint" type="fixed">
      <parent link="${parent}" />
      <child link="${name}_link" />
      <xacro:insert_block name="origin" />
    </joint>

  </xacro:macro>

</robot>